@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;500;600;700;800&family=Roboto:wght@400;500;700&display=swap');
/* Base Styling */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 62.5%;
}

body {
    font-family: 'Poppins', sans-serif;
}

a {
    text-decoration: none;
    font-weight: 400;
    font-size: 1.6rem;
    color:
}
h1, h2, p {

    margin: 1.6rem 0;
}

h1 {
    font-weight: 800;
    font-size: 3.6rem;
}

h2 {
    font-weight: 800;
    font-size: 2.4rem;
}

p {
    font-weight: 400;
    font-size: 1.8rem;
}

img {
    width: 100%;
    height: auto;
}

.row {
    display: flex;
    justify-content: space-between;
    width: 80%;
    align-items: center;
    margin: auto;
}

section {
    padding: 100% 0;
}

/*Hero Sectio */
header {
    height: 100%;
    background: linear-gradient(rgba(0,0,0,0.9),rgba(0,0,0,0.6)), url('../images/bg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    color: whitesmoke;
}

.logo h1 {
    font-size: 3.2rem;
    color: #4CAF50;
    margin: 0;
}

nav {
    padding: 2% 8%;
    display: flex;
    justify-content: space-between;
}
nav ul {
    list-style: none;
}

nav ul li {
    display: inline-block;
    margin-left: 2.5rem;
}

nav ul li:hover {
    color:#4CFAF5;
}